<div class="wrapper">
    <div class="row">
        {{#each articles}}
        {{#if saved}}
        <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
            <a  href="{{this.url}}"><img src="{{this.img}}" alt="article image">
            <span class="card-title">{{this.title}}</span></a>
            </div>
            <div class="card-content">
            <p>{{this.preview}}</p>
            </div>
            <div>
                <button>Comment</button><button>Delete</Button>
            </div>
        </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>